body {
    background-color: #d8d8e2;
} 

li {
    font-family: Playfair Display, serif;
    text-decoration: none;
    display: list-item;
    list-style-type: "+ ";
}

h1, h2, h4{
    font-family: Gloock, serif;
    color: rgb(45, 46, 57);
}

a, a:visited {
    text-decoration: none;
    color: rgb(45, 46, 57)
}

a:hover{
    color: rgb(148, 149, 187);
    transition: 0.5s;
}

.page{
    padding-bottom: 100px;
}

.header{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.header-items{
    font-family: Playfair Display, serif;
    padding-right: 35px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair Display, serif;
    padding: 25px;
}

.pfp{
    height: 250px;
    width: auto;
    border-radius: 100% 100%;
}

.text{
    width: 300px;
    padding: 50px;
}

.resume-grid-wrapper{
    display: flex;
    justify-content: center;
}

.resume-grid{
    display: grid;
    width: 750px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1px;
}

.grid-item{
    padding-left: 25px;
}

#education{
    grid-row: 1;
}

#experience{
    grid-row: 3;
}

#skills {
    grid-row: 3;
}

/*------ABOUT---------*/